@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

@font-face {
    font-family: NexaText;
    src: url(../fonts/NexaText.ttf);
}

html, body {
    background-color: rgb(90, 90, 90) !important;
	height: 100%;
    font-family: 'Roboto', sans-serif !important;
	overflow: hidden;
}

.header {
    font-size: 6rem;
	margin-top: 5rem !important;
}

.exit {
	position: fixed;
	top: 2rem;
	right: 3rem;
	font-size: 2rem !important;
	background-color: #fc4c4f !important;
	color: white !important;
	cursor: pointer;
	border-radius: 4px;
	width: 4rem;
	height: 4rem;
	z-index: 999;
}

.exit:focus {
	border: none !important;
}

.playerinput {
	font-size: 2rem;
	border: none;
	border-radius: 1rem;
	color: #2C3E50;
}

.invalid {
	color: red;
}

.color:hover{
	opacity: 50%;
}

.colors .color{
	height: 5rem;
	width: 5rem;
	border-radius: 50%;
	cursor: pointer;
}

.playerinput:focus{
    outline: none;
}

.selected {
	cursor: default !important;
	border: 0.3rem solid white;
}

.selected:hover {
	opacity: 100%;
}

.disabled {
	cursor: not-allowed !important;
}

.time {
	font-size: 2rem;
}

.playertag {
	font-size: 7rem;
}

.playing {
	-webkit-text-stroke: 0.15rem white;
}

.playing span {
	-webkit-text-stroke: 0.15rem rgba(0, 0, 0, 0);
}

.pieces {
	font-size: 3rem;
	color: white;
}

.oponent-piece {
	color: black
}

.red {
	background-color: #fc4c4f;
}

.blue {
	background-color: #4fa3fc;
}

.yellow {
	background-color: #ECD13F;
}

.green {
	background-color: #4bec3f;
}

.purple {
	background-color: #cf3fec;
}

.red-text {
	color: #fc4c4f;
}

.blue-text {
	color: #4fa3fc;
}

.yellow-text {
	color: #ECD13F;
}

.green-text {
	color: #4bec3f;
}

.purple-text {
	color: #cf3fec;
}

.versus {
	font-size: 5rem;
	font-family: 'NexaText';
}

.black-text-shadow {
	text-shadow: 0px 5px 15px #000000;
}

.light-text-shadow {
	text-shadow: 0px 5px 15px #0000006c;
}

.black-shadow {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.button {
	border-radius: 4px;
	border: none;
	font-size: 1.5rem;
}

.button:focus {
	outline: none;
}

.restart {
	background-color:#4fa3fc;
}

.change {
	background-color:#fc4c4f;
}

.start {
	background: linear-gradient(120deg, rgb(252, 76, 79) 50%, rgb(207, 63, 236) 50%);
}

.selections .form-check-input{
	padding-top: 2rem;
	scale: 4;
}

.selections .form-check-label {
	font-size: xx-large;
	padding-left: 2rem;
	color: #FFF;
}

.form-check-input {
	background-color: #4bec3f !important;
}

.difficulty {
	font-size: xx-large !important;
	background-color: #4bec3f !important;
	border: none !important;
	width: 12rem !important;
}

.difficulty:focus, .difficulty:active {
	outline: none !important;
	box-shadow: none !important;
}

.difficult {
	background-color: #fc4c4f !important;
}